<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{page.title}}</title>
  <link rel="icon" href="{{ 'assets/images/koncrete_theme/identity/favicon.png' | relative_url }}" sizes="32x32" />
  <link rel="stylesheet" href="{{ 'assets/files/css/meanmenu.css' | relative_url }}" type="text/css" media="all">
  <link rel="stylesheet" href="{{ 'assets/files/vendor/scrollbar/jquery.mCustomScrollbar.min.css' | relative_url }}" type="text/css" media="all">
  <!-- <link rel="stylesheet" href="{{ 'assets/files/css/github.css' | relative_url }}" type="text/css" media="all"> -->
  <link rel="stylesheet" href="{{ 'assets/files/css/style.css' | relative_url }}" type="text/css" media="all">
</head>
