<div class="col-right">
	<h1 class="title mb30">{{page.title}}</h1>
	{%assign posts = site.posts | sort: 'number'  %}

	{% for post in posts %}
	<section id="requirements">
		<h2>{{post.number}}| {{post.title}}</h2>
		{{post.content}}
	</section>
	{% endfor %}




	
	
	<section id="layouts">
		<h2>5| Layout Settings</h2>
		<p>From here you can set default layouts for pages, blog, posts etc. You can find this settings on <b><i>Appearance -> Theme Options</i></b> and then <b><i>Layout Defaults</i></b> tab.</p>
		<p>This settings is similar for all submenus under "Layout Defaults", so for convenience i'll just describe for one item (<b>Pages</b>).</p>
		<p><img alt="" src="{{ 'assets/images/20.jpg' | relative_url }}"></p>
		<div class="mt30"></div>
		<p><b>Layout:</b> You can choose various layout types for pages eg. Left Sidebar, Right Sidebar, Full Width.</p>
		<p><b>Content Padding Top:</b> Paddings at the top of page contents. (see image below)</p>
		<p><b>Content Padding Bottom:</b> Paddings at the bottom of page contents.(see image below)</p>
		<p><b>Banner:</b> You can enable or disable banner (see image below).</p>
		<p><b>Breadcrumb:</b> You can enable or disable breadcrumb (see image below).</p>
		<p><b>Banner Background Type:</b> You can choose weather you want a background image or background color for banner.</p>
		<p><b>Banner Background Color/Image:</b> You can select the banner background color or image from here.</p>
		<p><img alt="" src="{{ 'assets/images/17.jpg' | relative_url }}"></p>
		<p><img alt="" src="{{ 'assets/images/17a.jpg' | relative_url }}"></p>
	</section>
	<section id="post-single">
		<h2>6| Layout Settings for Individual Post Types</h2>
		<p>You can override the above settings for individual post types. For any post types (like Posts, Pages, Services, Team, etc), when you go to <b><i>Add New</i></b> or <b><i>Edit</i></b> page, you can find similar settings like above under the "Layout Settings" box. If you change any settings from here, this will take priority. If you choose default, settings from the <b><i>Theme Options -> Layout Defaults</i></b> (described above) will be used.</p>
		<p><img alt="" src="{{ 'assets/images/single-post-layout.jpg' | relative_url }}"></p>
	</section>
	<section id="blog">
		<h2>7| Blog/posts Settings</h2>
		<p>Navigate to <b><i>Appearance -> Theme Options</i></b>. Then go to <b><i>Post Settings</i></b> tab. From here you can change Blog/Archive related settings.</p>
		<p><img alt="" src="{{ 'assets/images/62.jpg' | relative_url }}"></p>
		<p class="mt30">Also you can upload an Inner Page Banner Image<b><i>Appearance -> Theme Options</i></b>. Then go to <b><i>General</i></b> tab. It'll look like this:</p>
		<p><img alt="" src="{{ 'assets/images/no-image-preview.jpg' | relative_url }}"></p>
		<p>After changing the settings, Click on <b><i>Save Changes</i></b> button.</p>
	</section>
	<section id="post">
		<h2>8| Post Settings</h2>
		<p>Navigate to <b><i>Appearance -> Theme Options</i></b>. Then go to <b><i>Post Settings</i></b> tab. From here you can change settings for single post .</p>
		<p><img alt="" src="{{ 'assets/images/63.jpg' | relative_url }}"></p>
		<p>After changing the settings, Click on <b><i>Save Changes</i></b> button.</p>
	</section>
	<section id="error">
		<h2>9| Error Page Settings</h2>
		<p>Navigate to <b><i>Appearance -> Theme Options</i></b>. Then go to <b><i>Error Page Settings</i></b> tab. Settings will look like this:</p>
		<p><img alt="" src="{{ 'assets/images/21.jpg' | relative_url }}"></p>
		<p><img alt="" src="{{ 'assets/images/22.jpg' | relative_url }}"></p>
		
	</section>
	
	<section id="cpt">
		<h2>10| Breadcrum Setting for custom post type</h2>
		<p class="mt30">You can set up root/archive pages for these Custom Post Types which will be used as breadcrumb. To do this, navigate to <b><i>Settings -> Breadcrumb NavXT</i></b>. In this page, Click on the <b><i>Post Types</i></b> tab.</p>
		<p>Then select the root pages for Chef, Recipe and Event like the image below. It'll be used as archive page.</p>
		<p><img alt="" src="{{ 'assets/images/39.jpg' | relative_url }}"></p>
	</section>
	
	<section id="doctor">
		<h2>11| Doctors</h2>
		<p>You can add Doctor members from <b><i>Doctors</i></b> menu. For each Doctor you'll see the following settings:</p>
		<p><img alt="" src="{{ 'assets/images/14.jpg' | relative_url }}"></p>
		<p class="mt30">For displaying doctor, we have created Elementor elements for you. From Elementor, Go to <b><i>RadiusTheme Elements</i></b> Section, here you'll see <b><i>Koncreate: doctor</i></b> element.</p>
		<p><img alt="" src="{{ 'assets/images/23.jpg' | relative_url }}"></p>
	</section>
	<section id="departments">
		<h2>12| Koncreate Departments</h2>
		<p>You can add class from <b><i>departments</i></b> menu. For each class you'll see the following settings:</p>
		<p><img alt="" src="{{ 'assets/images/27.jpg' | relative_url }}"></p>
		<p class="mt30">For displaying Event, we have created  Elementor elements for you. From  Elementor elements, Go to <b><i>RadiusTheme Elements</i></b> Section, here you'll see <b><i>class</i></b> and <b></b> element.</p>
		<p><img alt="" src="{{ 'assets/images/61.jpg' | relative_url }}"></p>
	</section>
	<section id="gallery">
		<h2>13| Gallery</h2>
		<p>You can add Gallery from <b><i>Gallery</i></b> menu. For each gallery you'll see the following settings:</p>
		<p><img alt="" src="{{ 'assets/images/26.jpg' | relative_url }}"></p>
		<p class="mt30">For displaying gallery, we have created  Elementor elements for you. From  Elementor elements, Go to <b><i>RadiusTheme Elements</i></b> Section, here you'll see <b><i>Gallery</i></b> element. <b>2 Style of gallery layout</b> has been added</p>
		<p><img alt="" src="{{ 'assets/images/49.jpg' | relative_url }}"></p>
	</section>
	<section id="testimonial">
		<h2>14 | Testimonial</h2>
		<p>You can add testimonials from <b><i>Testimonials</i></b> Elementor. For each testimonial you'll see the following settings:</p>
		<p><img alt="" src="{{ 'assets/images/49b.jpg' | relative_url }}"></p>
		<p class="mt30">For displaying testimonial, we have created  Elementor elements for you. From  Elementor elements, Go to <b><i>RadiusTheme Elements</i></b> Section, here you'll see <b><i>Testimonial</i></b> element. <b>2 Style of testimonial layout</b> has been added</p>
		<p><img alt="" src="{{ 'assets/images/49a.jpg' | relative_url }}"></p>
	</section>
	<section id="vc-elements">
		<h2>14|  Elementor elements</h2>
		<p>We have created several  Elementor elements for you. You can find them from <b><i>Koncreate</i></b> tab in the  Elementor elements</p>
		<p><img alt="" src="{{ 'assets/images/24.jpg' | relative_url }}"></p>
	</section>
	
	<section id="css-class">
		<h2>16| Built-in CSS Classes (Advanced)</h2>
		<p>You can use the following built-in css classes if needed:</p>
		<ul class="special-list">
			<li><span>bg-primary</span>: Set Primary Background color</li>
			<li><span>bg-primary70</span>: Set Primary Background width opacity 70% color</li>
		</ul>
	</section>
	<section id="widgets"></section>
	<h2>17 | Custom Widgets</h2>
	<p>You can use the following Widget in any place of your theme ( like in footer & sidebar ). These are custom made</p>
	<p><img alt="" src="{{ 'assets/images/72.jpg' | relative_url }}"></p>
	
	
	<section id="special"></section>
	<section id="s-contact">
		<h2>18.1| Setting up Contact Form</h2>
		<p>We are using plugin "Contact Form 7" for contact functionality. You can see their documentation for better understanding.</p>
		<p>If you don't want to go through all the troubles to check their documentation and just want to use the default contact form we provided with this theme, <b>please at least set up the default emails in contact form settings. (Because if you don't do that, all form submission emails will come to us instead of you).</b> To do that, please follow the steps below:</p>
		<p class="mt30"><b><u>Step 1:</u></b> Navigate to <b><i>Contact</i></b>, and then click on <b><i>Contact form 1</i></b> link.</p>
		<p class="mt10"><img alt="" src="{{ 'assets/images/contact-form.jpg' | relative_url }}"></p>
		<p class="mt30"><b><u>Step 2:</u></b> From this page, click on <b><i>Mail</i></b> tab. Here you should set your own email address where you want to receive user submitted forms. Then click on save button.</p>
		<p class="mt10"><img alt="" src="{{ 'assets/images/58.jpg' | relative_url }}"></p>
		<p class="mt30"><b><u>Step 3:</u></b> Please submit some dummy forms from Contact page to make sure that it's working properly.</p>
	</section>
	
	<section id="translate">
		<h2>18.2| Translating Theme</h2>
		<p>You can translate this theme to another language easily. You actually have to translate two things for your website to work properly: "<b>Koncreate</b>" theme and "<b>Koncreate Core</b>" plugin. This plugin plays a major role in theme functionality, so if you don't translate this plugin along with the theme you can't be able to get the full translation.</p>
		<p>There are many tools available for translation. But the easiest way is to use plugin "<b>Loco Translate</b>". Using this plugin, you can literally translate any WordPress themes or plugins if it supports translation.</p>
		<p style="color:red;"><i>** Note: Please remember, if you update the theme later your translations might be gone if they are stored inside theme/plugin. So please keep a backup of <b>Koncreate</b> theme and <b>Koncreate Core</b> plugin first before updating theme. **</i></p>
		<p>Here's a quick video tutorial about how to use <b>Loco Translate</b>:</p>
		<div class="embed-responsive">
			<iframe width="640" height="360" alt="" src="https://www.youtube.com/embed/3Fohy96uSzY" frameborder="0" allowfullscreen></iframe>
		</div>
	</section>
	<section id="update">
		<h2>18.3| Updating Theme</h2>
		<p>Occationally we provide updates which includes new features and bugfixes. Updating WordPress theme is standard WordPress functionality. There are few ways to update WordPress theme. You can follow any of the methods described below:</p>
		<p style="color:red;"><i><b>** Note: Before updating, make sure to keep a backup of your website to be in safe side. **</b></i></p>
		<p><b><u>Method 1: Automatic Update by Using Envato Market Plugin</u></b></p>
		<ol>
			<li>Install and activate the "Envato Market" plugin manually. Here's the plugin zip file: <a href="http://envato.github.io/wp-envato-market/dist/envato-market.zip">http://envato.github.io/wp-envato-market/dist/envato-market.zip</a></li>
			<li>From WordPress Admin Panel, navigate to <b>"Envato Market"</b> menu.</li>
			<li>
			</li>
			<li>After completed the above steps successfully, Navigate to <b>Appearance -> Themes</b>. Here you'll see an "Update now" link beside your theme. Click on that link and your theme will be updated automatically.</li>
		</ol>
		<p>Here's a quick video tutorial explaining this method:</p>
		<div class="embed-responsive">
			<iframe width="640" height="360" alt="" src="https://www.youtube.com/embed/fhRFhXnuP1I" frameborder="0" allowfullscreen></iframe>
		</div>
		<p class="mt30"><b><u>Method 2: By Uploading zip File</u></b></p>
		<ol>
			<li>From WordPress Admin Panel, Navigate to <b>Appearance -> Themes</b>.</li>
			<li>Activate any other theme (eg. Twenty Seventeen) than the current one.</li>
			<li>Delete <b><i>Koncreate</i></b> Theme.</li>
			<li>Now you have to upload the updated theme zip file. To do this, Navigate to <b>Appearance -> Themes -> Add New -> Upload</b>. Go to browse, and select the zipped theme folder. Hit "Install Now" and the theme will be uploaded and installed.</li>
		</ol>
		<p><b><u>Method 3: By FTP</u></b></p>
		<ol>
			<li>Using your FTP client, navigate to "/wp-content/themes/" folder on your server and delete the "Koncreate" folder from there.</li>
			<li>Now upload the latest non-zipped theme folder into that "/wp-content/themes/" folder .</li>
		</ol>
	</section>
	<section id="trouble"></section>
	<section id="t-demo">
		<h2>19.1| Demo Content installation failed</h2>
		<p>This is a hosting issue. In most hostings demo installation will work fine. But some hostings block certain permissions which may cause this issue. If this happens to you, you can contact your hosting provider or alternatively send a support request to <a href="mailto:support@radiustheme.com">support@radiustheme.com</a> and we will help you to fix this.</p>
	</section>
	<section id="t-error">
		<h2>19.2| 404 Error in all pages</h2>
		<p>If you face this type of issue, please update your permalink. To update permalink, navigate to <b>Settings -> Permalink</b> and then click on <b>Save Settings</b> button.</p>
		<p><img alt="" src="{{ 'assets/images/r3.jpg' | relative_url }}"></p>
		
	</section>
	<section id="contact">
		<h2>20| Contact</h2>
		<p>If you face any issue, please contact at <a href="mailto:support@radiustheme.com">support@radiustheme.com</a></p>
		<p>Thank you for purchasing our theme.</p>
		<p class="mt50"></p>
	</section>
</div>
