<div id="meanmenu"></div>
<div class="col-left">
	<div class="left-menu" style="padding-bottom: 30px;">
		<h2 style="padding-top: 20px;"><img alt="" src="{{ 'assets/images/identity/logo.png' | relative_url }}"></h2>
		<div class="d-none">
			<input class="form-control" placeholder="Search here..." type="text" id="single-search-box">
		</div>
    <div id="search-result" class="d-none">
      <ul class="listed">
        <li><a href="#">Dhaka</a></li>
        <li><a href="#">Comilla</a></li>
        <li><a href="#">Borisal</a></li>
      </ul>
    </div>
    <div class="navigation">
      <ul>
        {%assign posts = site.posts | sort: 'number'  %}
        {% for post in posts %}
          <li>
            <a href="#{{post.page_id}}">{{post.number}}. {{post.title}}</a>
            {% if post.has_sub %}
            <ul>
              {% include sidebartoc.html html=post.content %}
            </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
	</div>


</div>
