<script src="{{ 'assets/dht/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'assets/dht/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ 'assets/dht/js/retina.js' | relative_url }}"></script>
<script src="{{ 'assets/dht/js/jquery.fitvids.js' | relative_url }}"></script>
<script src="{{ 'assets/dht/js/wow.js' | relative_url }}"></script>
<script src="{{ 'assets/dht/js/jquery.prettyPhoto.js' | relative_url }}"></script>

<!-- CUSTOM PLUGINS -->
<script src="{{ 'assets/dht/js/custom.js' | relative_url }}"></script>
<script src="{{ 'assets/dht/js/main.js' | relative_url }}"></script>

<script src="{{ 'assets/dht/js/syntax-highlighter/scripts/shCore.js' | relative_url }}"></script>
<script src="{{ 'assets/dht/js/syntax-highlighter/scripts/shBrushXml.js' | relative_url }}"></script>
<script src="{{ 'assets/dht/js/syntax-highlighter/scripts/shBrushCss.js' | relative_url }}"></script>
<script src="{{ 'assets/dht/js/syntax-highlighter/scripts/shBrushJScript.js' | relative_url }}"></script>
