                <div class="col-md-3">
                    <nav class="docs-sidebar" data-spy="affix" data-offset-top="300" data-offset-bottom="200" role="navigation">
                        <ul class="nav">


                          {%assign posts = site.posts | sort: 'number'  %}
                          {% for post in posts %}
                            <li>
                              <a href="#{{post.page_id}}">{{post.number}}. {{post.title}}</a>
                              {% if post.has_sub %}
                              <ul>
                                {% include sidebartoc.html html=post.content %}
                              </ul>
                              {% endif %}
                            </li>
                          {% endfor %}

                        </ul>
                    </nav >
                </div>
